@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

* { -moz-box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 40px;
}

.character:before {
  content: var(character);
}

/* Clock */

#clock {
  font-family: 'Bebas';
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 50px 0;
  color: white;
  flex-direction: column;
}

#time {
  line-height: 100%;
  font-size: 10rem;
  text-shadow: 0 2px 0 #CCC;
  letter-spacing: -1px;  
}

#date {
  font-size: 2.5rem;
}

.clock-hours:after {
  content: ":";
}
